.first{
    background-color: indigo;
    color: white;
}

ul li{
    list-style: none;
    float: left;
    margin-left:25px;
    
}
ul li a {
    text-decoration: none;
    cursor: pointer;
    
}
ul li a:hover{
    color: white;
    background-color: indigo;
    zoom: 101%;
}
.photo{
   text-align: center;
    border: 2px solid indigo;
}
.login{
    text-align: center;
    background-color:lightgray;
    color: indigo;
}
.btn{
    margin: 0;
    background-color: indigo;
    color: white;
    cursor: pointer;
}
.mrq{
    background-color: indigo;
    color: white;
    cursor: pointer;
}
.btn:hover{
    background-color: white;
    color: indigo;
    zoom: 110%;
}
.footer{
    background-color: indigo;
    color: white;
    text-align: center;
}

